.root{
    -fx-background-color: #66ff66;
}
.button{
    -fx-background-color: lightgreen;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-effect: dropshadow(one-pass-box, blue, 100, 5.0, 1000, 1000);
}
.button:pressed{
    -fx-background-color: darkgreen;
    -fx-text-fill: lightgreen;
}
.table-view{
    -fx-background-color: #66ff66;
    -fx-border-color: black;

}
.text-field{
    -fx-background-color: white;
    -fx-border-color: black;
}
.list-view{
    -fx-background-color: #66ff66;
    -fx-border-color: black;
}
